* {
	--fuente: 'Montserrat', sans-serif;
	--primario: #ff7833;
	--secundario: #dfdad4;
	--blanco: #f5f5f5;
	--gris: #424348;
}

.seccion-totales,
.ultimas-incorporaciones {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    place-content: center;
}

